html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container{
  display: flex;
  background-color: rgb(142, 157, 160);
  height: 100vh;
  
}
.App {
  display: flex;
  margin: 0%;
  flex-direction: column;
  text-align: center;
}
.cardClose {
  display: none;
}
.navbar {
  display: flex;
  width: 100%;
  height: 4rem;
  background-color: rgb(47, 247, 180);
  justify-content: flex-end;
  align-content: center;
  border: red solid 3px;
}
.searchBar {
 
  margin: 0.1%;  
  padding: 0.9rem ;
  height: 3.8rem;
  align-self: center;
   align-items: center;
  justify-content: center;
  border: solid 3px yellow;
}
.card{
  
  border: solid purple  2px;
  margin:1%;
  height:fit-content ;
  border-radius: 8px;
  background-image: linear-gradient(180deg, #63c84e 0, #34a01e 16.67%, #15a436 33.33%, #388d53 50%, #2a9158 66.67%, #417f43 83.33%, #63c23d 100%);

}
.cards{
  display:flex;
  width: 100%;
  background-image: url('./assets/fondoCards.png') ;
}
.image{
padding: 1%;
  width:100%;
  height: 240px;
  border-radius:2% ;

}
