html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container{
  display: flex;
  
  height: 100vh;
  
}
.App {
  display: flex;
  background-image: linear-gradient(180deg, #479cb1 0, #57934b 16.67%, #15a436 33.33%, #388d53 50%, #2a9158 66.67%, #417f43 83.33%, #63c23d 100%);
  min-height:100vh ;
  margin: 0%;
  flex-direction: column;
  text-align: center;
}
.cardClose {
  display: none;
}
.navbar {
  display: flex;
  width: 100%;
  height: 4rem;
  background-color: rgb(47, 247, 180);
  justify-content: flex-end;
  align-content: center;
  border: red solid 3px;
}
.searchBar {
 
  margin: 0.1%;  
  padding: 0.9rem ;
  height: 3.8rem;
  align-self: center;
   align-items: center;
  justify-content: center;
  border: solid 3px yellow;
}
.card{
  
  border: solid purple  2px;
  margin:1%;
  height:fit-content ;
  border-radius: 8px;
  background-image: linear-gradient(180deg, #63c84e 0, #3b735d 16.67%, #15a436 33.33%, #73c18c 50%, #68927b 66.67%, #d2b74d 83.33%, #4cf10b 100%);

}
.cards{
  display:flex;
  width: 100%;
  background-image: url('./assets/fondoCards.png') ;
}
.image{
padding: 1%;
  width:100%;
  height: 240px;
  border-radius:2% ;

}
.home{
  display: flex;
  align-items: center;
  margin: 1%;
}
.error{
  background-color: red;
}